@import 'reset.scss';

$prifarve: #41b3a3;
$secfarve: #E27d60;
$trifarve: #E8a87c;
$forfarve: #C38d9e;
$femfarve: #85CDCA;
$sortfarve: #707070;
$tekstfarve: #3d3a3a;
@mixin bodymix($width,$height,$color,$style){

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
h1 {
  color: $tekstfarve;
}

section {width: 100%; float:left;
}
 /* background lag*/
#pageA {background: $prifarve}
#pageB {background: $trifarve}
#pageD {background: $forfarve}


*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: $tekstfarve;
  transition: all 0.5s ease;
}

/*header navbar*/

.navbar {
  width: 100%;
  position: fixed;
  z-index: 20;
  font-family: 'Ubuntu', sans-serif;
}
.navbar.sticky{
  width: 100%;
  background: linear-gradient(90deg, rgba(133,205,202,1) 0%, rgba(195,141,158,0.6001751042213761) 80%);
}
.navbar .logo a span{
  color: white;
}
.navbar.sticky .logo a span{
  color: darkred;
  transition: all 0.5s ease;
}
label.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.navbar ul {
  float: right;
  margin-right: 20px;
}

.navbar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

  .navbar ul li a {
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
}

  .ul_navbar li a:active,a:hover{
  background-color: none;
  color: $secfarve;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
@media (max-width: 1300px){
  .home .max-width{
    margin-left: 0px;
  }
}
@media (max-width: 1104px){
  #pageB .about-content .left img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 6px;
  }
}
@media (max-width: 952px) {
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
nav ul li a{
  font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn{
    display: block;
    }
    .ul_navbar{
      position: fixed;
      width: 100%;
      height:10vh;
      background: darken($secfarve, 10%);
      top: 80px;
      right: -120%;
      text-align: center;
      transition: all .5s;
      display: inline-block;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    #check:checked ~ ul{
      left: 0;
      z-index: 20;
    }
  .max-width{
    max-width: 800px;
  }
    #pageB .about-content .kolonne{
      width: 100%;
    }
    #pageB .about-content .venstre{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
    }
    #pageB .about-content .hojre{
      flex: 100%;
    }
  }
/* stillstående baggrund*/

html {
  background: url(billeder/baggrundbilledetest.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* første side A*/
#pageA {
display: flex;
height: 100vh;
background-size: cover;
background-attachment: fixed;
min-height: 500px;
font-family: 'Ubuntu', sans-serif;
}

.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

#pageA .max-width{
  margin: auto 0 auto 40px;
}
#pageA .start-content .tekst-1{
  font-size: 27px;
}
#pageA .start-content .tekst-2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
#pageA .start-content .tekst-3{
  font-size: 40px;
  margin: 5px 0;
}
#pageA .start-content .tekst-3 span{
  color: $secfarve;
  font-weight: 500;
}
#pageA .start-content a{
display: inline-block;
background: orange;
color: #fff;
font-size: 25px;
padding: 12px 36px;
margin-top: 20px;
border-radius: 6px;
border: 2px solid orange;
transition: all 0.3 ease;
}

#pageA .start-content a:hover{
  color: orange;
  background: none;
}
/* sektionmedbaggrund og infomation om mig*/


#pageB{
  font-family: 'Poppins', sans-serif;
  padding: 100px 0;
}
#pageB .title{
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

#pageB .title::before{
  content: "";
  position: absolute;
  width: 300px;
  height: 3px;
  left: 50%;
  bottom: 0px;
  background: #111;
  transform: translateX(-50%);
}
#pageB .title::after{
  content: "Og mine færdigheder";
  position: absolute;
  padding: 5px;
  left: 50%;
  bottom: -15px;
  color: crimson;
  background: $trifarve;
  transform: translateX(-50%);
  font-size: 20px;
}
 #pageB .about-content .venstre img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
 #pageB .about-content{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
 }
 #pageB .about-content .venstre {
   width: 45%;
 }
 #pageB .about-content .hojre {
   width: 55%;
 }

#pageB .about-content .hojre .tekstommig {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
#pageB .about-content .hojre .tekstommig span{
  color: crimson;
}
#pageB .about-content .hojre p{
  text-align: justify;
}
#pageB .about-content .hojre a{
  display: inline-block;
  background: orange;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid orange;
  transition: all 0.3 ease;
}
#pageB .about-content .hojre a:hover{
  color: orange;
  background: none;
}

/* billede gallery med grid*/

.item1 { grid-area: billede1; }
.item2 { grid-area: billede2; }
.item3 { grid-area: billede3; }
.item4 { grid-area: billede4; }

.grid-container {
  display: grid;
  grid-template-areas:
    'billede1 billede1 billede1 billede2 billede2 billede2'
    'billede1 billede1 billede1 billede2 billede2 billede2'
    'billede3 billede3 billede3 billede4 billede4 billede4';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.modal-button {
  width: 28px;
  height: 28px;
  background: url(img/infoknap.png);
  background-repeat: no-repeat;
  float:right;
  border-radius: 100%;
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99; /* Sit on top */
  padding-top: 350px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.infoknap-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: -25%;
  padding: 20px;
  border: 1px solid #888;
  width: 95%;
  z-index: 99;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
