@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: 0; }

h1 {
  color: #f2f2f2; }

html {
  scroll-behavior: smooth; }

section {
  width: 100%;
  float: left; }

/* background lag*/
#pageA {
  background: url(billeder/baggrundbilledesforside2.png); }

#pageB {
  background: #121b26; }

#pageD {
  background: #344b59; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #f2f2f2; }

/* scroll-up-btn*/
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #2e83f2;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #2e6ff2;
  z-index: 999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3 ease; }

.scroll-up-btn.show {
  opacity: 1;
  pointer-events: auto;
  bottom: 30px; }

/*header navbar*/
.navbar {
  width: 100%;
  position: fixed;
  z-index: 20;
  font-family: 'Ubuntu', sans-serif; }

.navbar.sticky {
  width: 100%;
  background: #121b26;
  background: linear-gradient(90deg, #121b26 0%, rgba(52, 75, 89, 0.5046393557) 100%); }

.navbar .logo a span {
  color: white; }

.navbar.sticky .logo a span {
  color: #f21d1d;
  transition: all 0.5s ease; }

label.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold; }

.navbar ul {
  float: right;
  margin-right: 20px; }

.navbar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px; }

.navbar ul li a {
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px; }

.ul_navbar li a:active, a:hover {
  background-color: none;
  color: #2e6ff2;
  transition: .5s; }

.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px; } }
@media (max-width: 1104px) {
  #pageB .about-content .left img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 6px; } }
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px; }

  nav ul li a {
    font-size: 16px; } }
@media (max-width: 858px) {
  .checkbtn {
    display: block; }

  .ul_navbar {
    position: fixed;
    width: 100%;
    height: 10vh;
    background: #0e53df;
    top: 80px;
    right: -120%;
    text-align: center;
    transition: all .5s;
    display: inline-block; }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }

  #check:checked ~ ul {
    left: 0;
    z-index: 20; }

  .max-width {
    max-width: 800px; }

  #pageB .about-content .kolonne {
    width: 100%; }

  #pageB .about-content .venstre {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px; }

  #pageB .about-content .hojre {
    flex: 100%; } }
/* første side A*/
#pageA {
  display: flex;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif; }

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto; }

#pageA .max-width {
  margin: auto 0 auto 40px; }

#pageA .start-content .tekst-1 {
  font-size: 27px; }

#pageA .start-content .tekst-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px; }

#pageA .start-content .tekst-3 {
  font-size: 40px;
  margin: 5px 0; }

#pageA .start-content .tekst-3 span {
  color: #2e6ff2;
  font-weight: 500; }

#pageA .start-content a {
  display: inline-block;
  background: #f21d1d;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #f21d1d;
  transition: all 0.3 ease; }

#pageA .start-content a:hover {
  color: #f21d1d;
  background: none; }

/* sektionmedbaggrund og infomation om mig*/
#pageB {
  font-family: 'Poppins', sans-serif;
  padding: 100px 0; }

#pageB .title {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px; }

#pageB .title::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 3px;
  left: 50%;
  bottom: 0px;
  background: #f2f2f2;
  transform: translateX(-50%); }

#pageB .title::after {
  content: "Og mine færdigheder";
  position: absolute;
  padding: 5px;
  left: 50%;
  bottom: -15px;
  color: #f2f2f2;
  background: #121b26;
  transform: translateX(-50%);
  font-size: 20px; }

#pageB .about-content .venstre img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px; }

#pageB .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

#pageB .about-content .venstre {
  width: 45%; }

#pageB .about-content .hojre {
  width: 55%; }

#pageB .about-content .hojre .tekstommig {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px; }

#pageB .about-content .hojre .tekstommig span {
  color: #2e6ff2; }

#pageB .about-content .hojre p {
  text-align: justify; }

#pageB .about-content .hojre a {
  display: inline-block;
  background: #f21d1d;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #f21d1d;
  transition: all 0.3 ease; }

#pageB .about-content .hojre a:hover {
  color: #f21d1d;
  background: none; }

/* stillstående baggrund*/
#pageC {
  background: url(billeder/baggrundbilledesprojekter.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* page C mine projekter*/
#pageC .title {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  margin-top: 70px; }

#pageC, #pageD, footer {
  font-family: 'Poppins', sans-serif; }

#pageC .carousel .kort {
  background: #121b26;
  border-radius: 25px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease; }

#pageC .carousel .kort img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #2e83f2;
  transition: all 0.3s ease; }

#pageC .carousel .kort .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease; }

#pageC .carousel .kort .tekst {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0; }

#pageC .carousel .kort:hover {
  background: #2e83f2; }

#pageC .carousel .kort:hover img {
  border-color: #2e6ff2; }

#pageC .carousel .kort:hover .box {
  transform: scale(1.05); }

.owl-dots {
  text-align: center;
  margin-top: 20px; }

.owl-dot {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #2e6ff2 !important;
  transition: all 0.3s ease;
  margin-bottom: 100px; }

.owl-dot.active {
  width: 35px;
  border-radius: 14px; }

.owl-dot.active,
.owl-dot.hover {
  background: #2e6ff2 !important; }

/* kontakt siden*/
#pageD .title {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  margin-top: 70px; }

.kontakt .kontakt-kontekt .venstre p {
  text-align: justify; }

#pageD .kontakt-kontekt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.kontakt .kontakt-kontekt .kolonne {
  width: calc(50% - 30px); }

.kontakt .kontakt-kontekt .tekst {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px; }

.kontakt .kontakt-kontekt .venstre {
  text-align: justify; }

.kontakt .kontakt-kontekt .venstre .ikoner {
  margin: 10px 0; }

.kontakt .venstre {
  margin-bottom: 200px; }

.kontakt .kontakt-kontekt .row {
  display: flex;
  height: 65px;
  align-items: center; }

.kontakt .kontakt-kontekt .row .info {
  margin-left: 30px; }

.kontakt .kontakt-kontekt .row i {
  font-size: 25px;
  color: #2e83f2; }

.kontakt .kontakt-kontekt .info .head {
  font-weight: 500; }

.kontakt .info .sub-title {
  color: #707070; }

/* højre sektion */
.kontakt .hojre form .fields {
  display: flex; }

.kontakt .hojre form .fields,
.kontakt .hojre form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px; }

.kontakt .hojre form .tekstarial {
  height: 80px;
  width: 100%;
  margin-bottom: 15px; }

.kontakt .hojre form .navn {
  margin-right: 10px; }

.kontakt .hojre form .email {
  margin-left: 10px; }

.kontakt .hojre form .field input,
.kontakt .hojre form .tekstarial textarea {
  height: 100%;
  width: 100%;
  border: 1px solid #121b26;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
  color: #383838; }

.kontakt .hojre form .tekstarial textarea {
  padding-top: 10px;
  resize: none; }

.kontakt .hojre form .knap {
  height: 47px;
  width: 170px;
  margin-bottom: 200px; }

.kontakt .hojre form .knap button {
  width: 100%;
  height: 100%;
  border: 2px solid #f21d1d;
  background: #f21d1d;
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3 ease; }

.kontakt .hojre form .knap button:hover {
  color: #f21d1d;
  background: none; }

/* footer sektion*/
footer {
  background: #121b26;
  padding: 20px 23px;
  color: #121b26;
  text-align: center; }

footer span a {
  color: #2e83f2;
  text-decoration: none; }

footer span a:hover {
  text-decoration: underline; }

/* Odense Glasværk siden*/
#pageD {
  font-family: 'Poppins', sans-serif;
  padding: 100px 0; }

#pageD .title {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px; }

#pageD .title::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 3px;
  left: 50%;
  bottom: 0px;
  background: #f2f2f2;
  transform: translateX(-50%); }

#pageD .title::after {
  content: "Og mine færdigheder";
  position: absolute;
  padding: 5px;
  left: 50%;
  bottom: -15px;
  color: #f2f2f2;
  background: #121b26;
  transform: translateX(-50%);
  font-size: 20px; }

#pageD .about-content .venstre img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px; }

#pageD .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

#pageD .about-content .venstre {
  width: 45%; }

#pageB .about-content .hojre {
  width: 55%; }

#pageD .about-content .hojre .tekstommig {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px; }

#pageD .about-content .hojre .tekstommig span {
  color: #2e6ff2; }

#pageD .about-content .hojre p {
  text-align: justify; }

#pageD .about-content .hojre a {
  display: inline-block;
  background: #f21d1d;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #f21d1d;
  transition: all 0.3 ease; }

#pageD .about-content .hojre a:hover {
  color: #f21d1d;
  background: none; }

/*# sourceMappingURL=portfolio.css.map */
