@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: 0; }

h1 {
  color: #3d3a3a; }

section {
  width: 100%;
  float: left; }

/* background lag*/
#pageA {
  background: #41b3a3; }

#pageB {
  background: #E8a87c; }

#pageD {
  background: #C38d9e; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #3d3a3a;
  transition: all 0.5s ease; }

/*header navbar*/
.navbar {
  width: 100%;
  position: fixed;
  z-index: 20;
  font-family: 'Ubuntu', sans-serif; }

.navbar.sticky {
  width: 100%;
  background: linear-gradient(90deg, #85cdca 0%, rgba(195, 141, 158, 0.6001751042) 80%); }

.navbar .logo a span {
  color: white; }

.navbar.sticky .logo a span {
  color: darkred;
  transition: all 0.5s ease; }

label.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold; }

.navbar ul {
  float: right;
  margin-right: 20px; }

.navbar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px; }

.navbar ul li a {
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px; }

.ul_navbar li a:active, a:hover {
  background-color: none;
  color: #E27d60;
  transition: .5s; }

.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px; } }
@media (max-width: 1104px) {
  #pageB .about-content .left img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 6px; } }
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px; }

  nav ul li a {
    font-size: 16px; } }
@media (max-width: 858px) {
  .checkbtn {
    display: block; }

  .ul_navbar {
    position: fixed;
    width: 100%;
    height: 10vh;
    background: #da5a35;
    top: 80px;
    right: -120%;
    text-align: center;
    transition: all .5s;
    display: inline-block; }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }

  #check:checked ~ ul {
    left: 0;
    z-index: 20; }

  .max-width {
    max-width: 800px; }

  #pageB .about-content .kolonne {
    width: 100%; }

  #pageB .about-content .venstre {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px; }

  #pageB .about-content .hojre {
    flex: 100%; } }
/* stillstående baggrund*/
html {
  background: url(billeder/baggrundbilledetest.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* første side A*/
#pageA {
  display: flex;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif; }

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto; }

#pageA .max-width {
  margin: auto 0 auto 40px; }

#pageA .start-content .tekst-1 {
  font-size: 27px; }

#pageA .start-content .tekst-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px; }

#pageA .start-content .tekst-3 {
  font-size: 40px;
  margin: 5px 0; }

#pageA .start-content .tekst-3 span {
  color: #E27d60;
  font-weight: 500; }

#pageA .start-content a {
  display: inline-block;
  background: orange;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid orange;
  transition: all 0.3 ease; }

#pageA .start-content a:hover {
  color: orange;
  background: none; }

/* sektionmedbaggrund og infomation om mig*/
#pageB {
  font-family: 'Poppins', sans-serif;
  padding: 100px 0; }

#pageB .title {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px; }

#pageB .title::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 3px;
  left: 50%;
  bottom: 0px;
  background: #111;
  transform: translateX(-50%); }

#pageB .title::after {
  content: "Og mine færdigheder";
  position: absolute;
  padding: 5px;
  left: 50%;
  bottom: -15px;
  color: crimson;
  background: #E8a87c;
  transform: translateX(-50%);
  font-size: 20px; }

#pageB .about-content .venstre img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px; }

#pageB .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

#pageB .about-content .venstre {
  width: 45%; }

#pageB .about-content .hojre {
  width: 55%; }

#pageB .about-content .hojre .tekstommig {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px; }

#pageB .about-content .hojre .tekstommig span {
  color: crimson; }

#pageB .about-content .hojre p {
  text-align: justify; }

#pageB .about-content .hojre a {
  display: inline-block;
  background: orange;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid orange;
  transition: all 0.3 ease; }

#pageB .about-content .hojre a:hover {
  color: orange;
  background: none; }

/* billede gallery med grid*/
.item1 {
  grid-area: billede1; }

.item2 {
  grid-area: billede2; }

.item3 {
  grid-area: billede3; }

.item4 {
  grid-area: billede4; }

.grid-container {
  display: grid;
  grid-template-areas: 'billede1 billede1 billede1 billede2 billede2 billede2' 'billede1 billede1 billede1 billede2 billede2 billede2' 'billede3 billede3 billede3 billede4 billede4 billede4';
  grid-gap: 10px;
  padding: 10px; }

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px; }

.modal-button {
  width: 28px;
  height: 28px;
  background: url(img/infoknap.png);
  background-repeat: no-repeat;
  float: right;
  border-radius: 100%;
  text-decoration: none; }

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  /* Sit on top */
  padding-top: 350px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.infoknap-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: -25%;
  padding: 20px;
  border: 1px solid #888;
  width: 95%;
  z-index: 99; }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

/* page C mine projekter*/
#pageC .title {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  margin-top: 70px; }

#pageC, #pageD {
  font-family: 'Poppins', sans-serif; }

#pageC .carousel .kort {
  background: #85CDCA;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease; }

#pageC .carousel .kort img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #E27d60;
  transition: all 0.3s ease; }

#pageC .carousel .kort .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease; }

#pageC .carousel .kort .tekst {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0; }

#pageC .carousel .kort:hover {
  background: #E27d60; }

#pageC .carousel .kort:hover img {
  border-color: #85CDCA; }

#pageC .carousel .kort:hover .box {
  transform: scale(1.05); }

.owl-dots {
  text-align: center;
  margin-top: 20px; }

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #85CDCA !important;
  transition: all 0.3s ease; }

.owl-dot.active {
  width: 35px;
  border-radius: 14px; }

.owl-dot.active,
.owl-dot.hover {
  background: #85CDCA !important; }

/* kontakt siden*/
#pageD .title {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  margin-top: 70px; }

.kontakt .kontakt-kontekt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.kontakt .kontakt-kontekt .kolonne {
  width: calc(50% - 30px); }

.kontakt .kontakt-kontekt .tekst {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px; }

.kontakt .kontakt-kontekt .left {
  text-align: justify; }

.kontakt .kontakt-kontekt .left .ikoner {
  margin: 10px 0; }

.kontakt .kontakt-kontekt .row {
  display: flex;
  height: 65px;
  align-items: center; }

.kontakt .kontakt-kontekt .row .info {
  margin-left: 30px; }

.kontakt .kontakt-kontekt .row .row i {
  font-size: 25px;
  color: #85CDCA; }

.kontakt .kontakt-kontekt .info .head {
  font-weight: 500; }

.kontakt .kontakt-kontekt .info .sub-title {
  color: #707070; }

/*# sourceMappingURL=portfolio.css.map */
